.product-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.product-view {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.img-card-height {
    height: 250px;
}

.addToCart {
    padding: 2rem;
}