@import "~bootstrap/scss/bootstrap";

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.main-bg {
  background-image: url('../public/mechanics.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 56px);
}